body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   
}
button {
    padding: 10px;
    background-color: rgb(33, 150, 18);
    color: yellow;
    cursor: pointer;
    border: none;
}
