* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    flex-direction: column;
}
h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media ( max-width:767px) {
    h1 {
        font-size: 1.5rem;
    }
}
h1 span:first-child{
    color: green;
}
h1 span.heart {
    color: red;
    font-size: 84px;
}
@media ( max-width:767px) {
    h1 span.heart {
        font-size: 44px;
    }
}